/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-regular - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/fraunces-v23-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif;
  font-family: "Fraunces", "serif";
  font-size: 16px;
  line-height: 1.6;
  color: #333D4B;
  background: #F2F2F2;
  background-color: #f3f2f2;
  justify-content: center;
}

img {
  display: block;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 375px;
  }
}
.site-header {
  padding: 45px 0;
  position: relative;
}

.site-header__container {
  display: flex;
}

.site-header__logo {
  margin-right: auto;
}

.site-header__burger {
  margin: 0;
  padding: 0;
  display: none;
}

@media only screen and (max-width: 1280px) {
  .site-header {
    padding: 0;
    position: relative;
  }
  .site-header__container {
    display: flex;
  }
  .site-header__nav-link {
    margin-top: 33px;
  }
}
@media only screen and (max-width: 768px) {
  .site-header {
    padding: 30px 0;
  }
  .site-header__container {
    display: flex;
  }
  .site-header__burger {
    cursor: pointer;
    width: 30px;
    min-height: 15px;
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
  }
  .site-header__burger-inner,
.site-header__burger::before,
.site-header__burger::after {
    display: block;
    width: 16px;
    height: 3px;
    background-color: #333D4B;
    border-radius: 1.5px;
    transition: 0.2s ease all;
    content: "";
  }
  .site-header__burger-inner {
    margin: 3px 0;
  }
  .site-header__burger--opened .site-header__burger-inner {
    display: none;
  }
  .site-header__burger--opened::before,
.site-header__burger--opened::after {
    position: absolute;
    top: 50%;
    left: 0;
  }
  .site-header__burger--opened::before {
    transform: translateY(-50%) rotate(45deg);
  }
  .site-header__burger--opened::after {
    transform: translateY(-50%) rotate(-45deg);
  }
  .site-header__nav {
    display: none;
  }
  .site-header--opened {
    background-color: #FEFCF7;
  }
  .site-header--opened .site-header__nav {
    display: block;
  }
  .site-header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 87px);
    background-color: #fff;
    background: linear-gradient(180deg, #FEFCF7 55.94%, rgba(254, 252, 247, 0.504981) 100%);
  }
  .site-header--opened .nav__list-item {
    margin-bottom: 32px;
  }
  .site-header__nav-link {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
  }
}
.nav {
  align-items: center;
}

.nav__footer {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav__list {
  margin: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  justify-content: center;
  margin-left: 100px;
}

.nav__list-item {
  margin: 0;
  padding: 0;
  margin-left: 33px;
}

.nav__link {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #83888F;
  justify-content: center;
  text-transform: uppercase;
}

.nav__group {
  margin-left: 250px;
}

@media only screen and (max-width: 1280px) {
  .nav__footer {
    display: flex;
    margin-left: 0;
  }
  .nav__group {
    margin-left: 0;
    margin-top: 65px;
  }
  .nav__list {
    margin: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: center;
  }
  .nav__list-item {
    margin: 0;
    padding: 0;
    margin-left: 33px;
    margin-top: 0;
    font-family: "Barlow";
    font-style: normal;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
  }
  .nav__main {
    margin-top: 33px;
  }
}
@media only screen and (max-width: 768px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .nav__main {
    margin-top: 0px;
  }
  .nav__list-item {
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-top: 24px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
  }
}
.intro {
  border-radius: 10px;
  display: flex;
  background-image: url(../../img/coffee.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 116px 0;
}

.intro__wraper {
  padding-left: 85px;
}

.intro__title {
  margin: 0;
  color: #FEFCF7;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  max-width: 493px;
  margin-bottom: 32px;
}

.intro__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
  max-width: 445px;
  margin-bottom: 56px;
  color: #FEFCF7;
}

@media only screen and (max-width: 1280px) {
  .intro {
    border-radius: 10px;
    display: flex;
    background-image: url(../../img/coffe\ tablet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 116px 0;
  }
  .intro__title {
    margin: 0;
    color: #FEFCF7;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    max-width: 329px;
    margin-bottom: 24px;
  }
  .intro__text {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    max-width: 398px;
    margin-bottom: 40px;
    color: #FEFCF7;
    opacity: 0.8;
  }
}
@media only screen and (max-width: 768px) {
  .intro {
    border-radius: 10px;
    display: flex;
    background-image: url(../../img/intro-bg-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    max-width: 327px;
  }
  .intro__wraper {
    padding: 100px 24px 99px 24px;
  }
  .intro__title {
    margin: 0;
    color: #FEFCF7;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    max-width: 279px;
    margin-bottom: 24px;
  }
  .intro__text {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    max-width: 279px;
    margin-bottom: 40px;
    color: #FEFCF7;
    opacity: 0.8;
  }
}
.collection {
  margin-bottom: 200px;
  margin-top: 100px;
}

.collection__title {
  text-align: center;
  margin: 0;
  font-size: 130px;
  letter-spacing: 20px;
  position: relative;
  opacity: 0.5;
}

.collection__list {
  position: absolute;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: -100px;
  z-index: 1;
}

.collection__list :last-child {
  margin-right: 0;
  align-items: center;
}

@media only screen and (max-width: 1280px) {
  .collection__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 72px;
    padding: 0;
    margin: 0;
    text-align: center;
    max-width: 689px;
    font-size: 50px;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  }
  .collection__list {
    display: block;
    margin-top: -85px;
  }
}
@media only screen and (max-width: 768px) {
  .collection {
    margin-top: 100px;
  }
  .collection__list {
    position: absolute;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    display: block;
    z-index: 1;
  }
  .collection__title {
    padding: 0;
    margin: 0;
    justify-content: center;
    font-weight: 900;
    font-size: 40px;
    line-height: 72px;
    max-width: 375px;
    letter-spacing: 1px;
    font-size: 40px;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    margin-bottom: 13px;
  }
}
.collection-item {
  text-align: center;
  margin-right: 30px;
}

.collection-item__title {
  color: #333D4B;
  margin: 0;
  margin-bottom: 24px;
  margin-top: 71px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.collection-item__text {
  max-width: 255px;
}

@media only screen and (max-width: 1280px) {
  .collection-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  .collection-item__title {
    margin: 0;
    margin-right: 80px;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  }
  .collection-item__text {
    margin: 0;
    margin-top: 24px;
    max-width: 282px !important;
    font-size: 15px;
    padding: 0;
  }
  .collection-item__img {
    margin-top: 25px;
  }
  .collection-item__text {
    max-width: 282px;
    height: 50px;
    text-align: unset;
  }
}
@media only screen and (max-width: 768px) {
  .collection-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 48px;
  }
  .collection-item__title {
    max-width: 375px;
    margin: 0;
    margin-top: 24px;
  }
  .collection-item__text {
    margin: 0;
    margin-top: 16px;
    max-width: 282px !important;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
  }
}
.benefits {
  padding-top: 100px;
  position: relative;
}
.benefits::before {
  background-color: #333D4B;
  padding: 100px 85px 387px 85px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
}

.benefits__container {
  position: relative;
  z-index: 1;
  color: #fff;
}

.benefits__wrapper {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.benefits__title {
  margin: 0;
  margin-bottom: 32px;
  font-style: Black;
  font-size: 40px;
  line-height: 48px;
  max-width: 540px;
}

.benefits__description {
  margin: 0;
  color: #FEFCF7;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 1280px) {
  .benefits {
    padding-top: 55px;
    position: relative;
  }
  .benefits::before {
    background-color: #333D4B;
    padding: 100px 85px 590px 85px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
  }
  .benefits__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  .benefits__title {
    padding-top: 50px;
    margin: 0;
    margin-bottom: 24px;
    font-style: Black;
    font-size: 40px;
    line-height: 48px;
  }
  .benefits__container {
    margin: 0px 58px 144px 57px;
  }
}
@media only screen and (max-width: 768px) {
  .benefits {
    position: relative;
  }
  .benefits::before {
    background-color: #333D4B;
    padding: 64px 24px 950px 24px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
  }
  .benefits__container {
    margin: 0;
  }
  .benefits__wrapper {
    max-width: 279px;
  }
  .benefits__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .benefits__description {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 64px;
    max-width: 279px;
  }
  .benefits__title {
    padding-top: 44px;
    margin: 0;
    margin-bottom: 32px;
    font-style: Black;
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    max-width: 540px;
  }
}
.benefits-item {
  margin-top: 86px;
  max-width: 350px;
  text-align: center;
  padding: 200px 48px 48px;
  background-color: #0E8784;
  border-radius: 8px;
  margin-right: 30px;
  color: #Fff;
  overflow: hidden;
  position: relative;
}
.benefits-item::before {
  display: block;
  content: "";
  width: 71px;
  height: 72px;
  background: url("../../img/coffee-icon.svg") no-repeat center center;
  position: absolute;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
}

.benefits-item__title {
  margin: 0;
}

.benefits-item--gift::before {
  background-image: url("../../img/gift-icon.svg");
}

.benefits-item--car::before {
  height: 50px;
  background-image: url("../../img/car-icon.svg");
  top: 83px;
}

@media only screen and (max-width: 1280px) {
  .benefits-item {
    margin-top: 0;
    display: block;
    margin: 0 auto;
    max-width: 573px;
    padding: 41px 48px 41px 181px;
    text-align: center;
    margin-right: unset;
    margin-bottom: 24px;
    position: relative;
  }
  .benefits-item:last-child {
    margin-bottom: 0;
  }
  .benefits-item::before {
    left: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .benefits-item {
    display: block;
    margin: 0;
    max-width: 279px;
    padding: 200px 34px 51px 34px;
    margin-bottom: 24px;
  }
  .benefits-item:last-child {
    margin-bottom: 0;
  }
  .benefits-item::before {
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.site-footer {
  display: block;
  background-color: #333D4B;
  margin-top: 300px;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.site-footer__container {
  display: flex;
  align-items: center;
  padding: 48px 85px 48px 118px;
}

@media only screen and (max-width: 1280px) {
  .site-footer__container {
    display: flex;
    flex-direction: column;
    padding: 54px 191px 54px 217px;
  }
  .site-footer {
    display: block;
    background-color: #333D4B;
    margin: 0 auto;
    margin-top: 300px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .site-footer__container {
    display: flex;
    flex-direction: column;
    padding: 54px 56px;
    align-items: center;
    margin: 0;
  }
  .site-footer {
    display: block;
    background-color: #333D4B;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  .site-footer__logo {
    margin-bottom: 25px;
  }
}
.main-link {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  padding: 15px 31px 16px 31px;
  border-radius: 6px;
  color: #FEFCF7;
  background-color: #0E8784;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .main-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 217px;
  }
}
.works {
  margin-top: 200px;
}

.works__container {
  margin-left: 100px;
}

.works__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 100px;
}

.works__list {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
}

.works__list::before {
  display: block;
  content: "";
  position: absolute;
  width: 760px;
  height: 1px;
  border: 2px solid #FDD6BA;
  transform: translateY(290%);
}

@media only screen and (max-width: 1280px) {
  .works__container {
    margin: 0;
  }
  .works__list {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
    max-width: 690px;
  }
  .works__list::before {
    display: block;
    content: "";
    position: absolute;
    width: 467px;
    height: 1px;
    border: 2px solid #FDD6BA;
    transform: translateY(290%);
  }
  .works__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .works {
    margin-top: 100px;
  }
  .works__list {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    position: relative;
    max-width: 690px;
  }
  .works__list::before {
    display: none;
  }
  .works__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #83888F;
    margin-bottom: 100px;
  }
}
.works-item {
  margin-right: 95px;
}

.works-item::before {
  display: block;
  content: "";
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #FEFCF7;
  border: 2px solid #0E8784;
  position: relative;
  z-index: 1px;
}

.works-item__number {
  display: block;
  color: #FDD6BA;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 38px;
  margin-top: 100px;
}

.works-item__title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  max-width: 255px;
  margin-bottom: 42px;
}

.works-item__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  margin-bottom: 64px;
  max-width: 285px;
}

@media only screen and (max-width: 1280px) {
  .works-item {
    max-width: 223px;
    margin-right: 10px;
  }
  .works-item__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 38px;
  }
  .works-item__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    margin-bottom: 59px;
    max-width: 223px;
  }
}
@media only screen and (max-width: 768px) {
  .works-item {
    display: block;
    margin-left: 50px;
    text-align: center;
    max-width: 237px;
    margin: 0 auto;
  }
  .works-item::before {
    display: none;
  }
  .works-item__title {
    margin: 0;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    color: #333D4B;
    max-width: 327px;
    margin-top: 22px;
  }
  .works-item__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    margin-bottom: 59px;
    max-width: 327px;
    margin-top: 24px;
  }
}
.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.link {
  color: #fff;
}

.link:hover {
  color: red;
}/*# sourceMappingURL=main.css.map */