$tablet: 1280px;
$mobile: 768px;
$yashil: #0E8784;
$big-radius: 10px;
$mid-radius: 8px;
$sm-radius: 6px;
$white : #FEFCF7;
$gray : #2C343E;
$gold :#FDD6BA;
$blue-333 : #333D4B;
$nav-link-colors : #83888F;
