.benefits-item {
    max-width: 350px;
    text-align: center;
    padding: 200px 48px 48px;
    background-color: $yashil;
    border-radius: 8px;
    margin-right: 30px;
    color: #Fff;
    overflow: hidden;
    position: relative;
    
    &:last-child {
    margin-right: 0;
    
    }
    
    
    &::before {
    display: block;
    content: "";
    width: 71px;
    height: 72px;
    background: url("../../img/coffee-icon.svg") no-repeat center center;
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    }
    }
    
    .benefits-item__title {
    margin: 0;
    margin-bottom: 24px;
    
    }
    
    .benefits-item--gift::before {
    background-image: url("../../img/gift-icon.svg");
    }
    
    .benefits-item--car::before {
    height: 50px;
    background-image: url("../../img/car-icon.svg");
    top: 83px;
    }
    
    @media only screen and (max-width: $tablet) {
    .benefits-item {
    display: block;
    margin: 0 auto;
    max-width: 573px;
    padding: 41px 48px 41px 181px;
    text-align: center;
    margin-right: unset;
    margin-bottom: 24px;
    position: relative;
    
    &:last-child {
    margin-bottom: 0;
    }
    
    }
    
    
    .benefits-item::before {
    left: 70px;
    }
    }
    
    @media only screen and (max-width: $mobile) {
    .benefits-item {
    display: block;
    margin: 0 auto;
    max-width: 279px;
    padding: 200px 34px 51px 34px;
    margin-bottom: 24px;
    
    &:last-child {
    margin-bottom: 0;
    }
    }
    .benefits-item::before {
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    }
    }