.intro{
    display: flex;
    background-image: url(../../img/coffee.jpg);
}



.intro__wraper{
    width: 493px;
}



.intro__title{
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
   
    
}




