.intro{
    border-radius: 10px;
    display: flex;
    background-image: url(../../img/coffee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 116px 0;
  
    
    
}



.intro__wraper{
    padding-left: 85px;
    
    
}



.intro__title{
    margin: 0;
    color: $white;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    max-width: 493px;
    margin-bottom: 32px;
    
}

.intro__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.8;
    max-width: 445px;
    margin-bottom: 56px;
    color: $white ;
}

@media only screen and (max-width: $tablet) {
    .intro{
        border-radius: 10px;
        display: flex;
        background-image: url(../../img/coffe\ tablet.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 116px 0;
        
        
        
    }
    .intro__title{
        margin: 0;
        color: $white;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        max-width: 329px;
        margin-bottom: 24px;
        
    }
    .intro__text {
        margin: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        max-width: 398px;
        margin-bottom: 40px;
        color: $white ;
        opacity: 0.8;
    }
    
    
}

@media only screen and (max-width: $mobile) {
    .intro{
        border-radius: 10px;
        display: flex;
        background-image: url(../../img/intro-bg-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
       
        
        
        
    }
    
    .intro__wraper{
        padding: 100px 24px 99px 24px;
        
        
    }
    .intro__title{
        margin: 0 ;
        color: $white;
        text-align: center;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        max-width: 279px;
        margin-bottom: 24px;
        
    }
    .intro__text {
        margin: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
       text-align: center;
        max-width: 279px;
        margin-bottom: 40px;
        color: $white ;
        opacity: 0.8;
    }
    
}






