.main-link{
    padding: 15px 31px 16px 31px;
    border-radius: $sm-radius;
    color: $white;
    background-color: $yashil;
    text-decoration: none;
    @include fransuer;
    font-size: 18px;
    line-height: 25px;
}
.main-link--works{
    margin-left: 110px;
}