.main-link{
    @include fransuer;
    padding: 15px 31px 16px 31px;
    border-radius: $sm-radius;
    color: $white;
    background-color: $yashil;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    text-decoration: none;
}
.main-link--works{
    margin-left: 150px;
}

@media only screen and (max-width: $mobile) {
    .main-link--works{
        margin-left: 0;
       text-align: center;
      display: block;
    }
}