.nav {
  display: flex; 
  align-items: center;
}

.site-header__nav{
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav__footer{
  margin-left: 150px;

}

.nav__list {
  @include reset-list;
  display: flex;
  margin-left: auto;
 
}

.nav__list-item{
  margin: 0;
  padding: 0;
  margin-right: 33px;
  
}


.nav__link{
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: $nav-link-colors;
  justify-content: center;
  text-transform: uppercase;
}

.nav__variable-link{
  color: #FEFCF7;
  position: relative;
}

.nav__group{
 margin-left: 350px;
 

}

.nav__variable-link::before{
  display: block;
  content: '';
  background-image: url(../../img/Pointer.svg);
}