.site-footer{
    background-color: $blue-333;
    margin-top: 300px;
    text-align: center;
}

.site-footer__container{
    display: flex;
    height: 120px;
    align-items: center;

   
    
   
}