.site-footer{
    background-color: $blue-333;
    margin-top: 300px;
    text-align: center;
}

.site-footer__container{
    display: flex;
    align-items: center;
}

@media only  screen and (max-width: $tablet) {
   .site-footer{
    display: none;
   }

}

@media only  screen and (max-width: $mobile) {
   .site-footer{
    display: none;
   }

}
